*{
  margin:0;
  padding:0;
  overflow-x,overflow-y:hidden;
  font-face: "verdana","sans-serif";
  box-sizing: border-box;
}

body{
  background: #FFFF;
  background-image: url('img/bg1.jpg');
  background-size: cover;
}
.logo
{
	padding-top: 5px;
  max-width:200px;
  min-height: auto;
	display:block;
	margin:5 auto 5px auto;
}
.btn{
      margin-top:5px;
      margin-bottom:10px;
      padding:5px;
      background-color:#0000e6;
      color: #ffffff;
      border-radius:3px;
      width: 150px;
      cursor: pointer;
      font-family: sans-serif;
      
     
}
.badge {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
}
#reader{
  max-width: 500px;
  min-height: auto;
  border: box;
}
#result{
  display: none;
}
.container{
  height: auto;
  max-width: 500px;
  max-height: auto;
  margin: 20px auto;
  margin-top:20px;
  border-radius:15px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: rgb(155,198,53); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(155,198,53,1) 0%, rgba(155,198,53,1) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(155,198,53,1) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(155,198,53,1) 0%,rgba(155,198,53,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}